name: CI

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        php:
          - '7.3'
          - '7.4'
          - '8.0'
        node:
          - '10'
          - '12'
          - '14'
        laravel:
          - 7.*
          - 8.*
        prefer:
          - 'prefer-lowest'
          - 'prefer-stable'
        include:
          - laravel: '7.*'
            testbench: '5.*'
          - laravel: '8.*'
            testbench: '6.*'

    name: PHP ${{ matrix.php }} - Node ${{ matrix.node }} - Laravel ${{ matrix.laravel }} --${{ matrix.prefer }}

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv
        coverage: pcov

    - uses: actions/cache@v2.1.6
      name: Cache Composer dependencies
      with:
        path: ~/.composer/cache/files
        key: composer-php-${{ matrix.php }}-${{ matrix.laravel }}-${{ matrix.prefer }}-${{ hashFiles('composer.json') }}

    - uses: actions/cache@v2.1.6
      name: Cache Node.js dependencies
      with:
        path: node_modules/
        key: node-js-${{ matrix.node }}-${{ hashFiles('package.json') }}

    - name: Install Chromium binary
      run: |
        sudo apt-get update
        sudo apt-get install -y libnss3 chromium-browser

    - name: Test Chromium binary
      run: |
        /usr/bin/chromium-browser --version

    - uses: actions/setup-node@v2.2.0
      name: Install Node.js
      with:
        node-version: '${{ matrix.node }}'

    - name: Install dependencies
      run: |
        composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
        composer update --${{ matrix.prefer }} --prefer-dist --no-interaction --no-suggest
        npm install

    - name: Start webserver
      run: |
        node tests/fixtures/server.js &

    - name: Run tests
      run: |
        vendor/bin/phpunit --coverage-text --coverage-clover=coverage.xml

    - name: Upload artifacts
      uses: actions/upload-artifact@v2.2.4
      with:
        name: screenshots
        path: artifacts/screenshots

    - uses: codecov/codecov-action@v2.0.2
      with:
        fail_ci_if_error: false
